.panel-card {
    width: 420px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.sub-text {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-success {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

.error-text {
    color: red;
    display: block;
    margin-top: 10px;
}

/* Lobby */
.player-list {
    margin-top: 20px;
}

.player-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background: #f5f7fb;
    margin-bottom: 8px;
}

.team-code-box {
    background: #eef2ff;
    padding: 10px;
    border-radius: 8px;
    margin: 15px 0;
}

.team-code {
    font-weight: bold;
    font-size: 18px;
}

/* Characters */
.character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.character-card {
    padding: 15px;
    border-radius: 10px;
    background: #f1f3f8;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

    .character-card:hover {
        background: #dbe3ff;
    }

    .character-card:disabled {
        background: #ccc;
        cursor: not-allowed;
    }




.chat-left {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: left;
    max-width: 60%;
}

.chat-right {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: right;
    margin-left: auto;
    max-width: 60%;
}

