<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
  </system.web>
	
  <connectionStrings>
    <add name="SimDB" connectionString="Data Source=Simulation-Based-Learning-26.mssql.somee.com;        Initial Catalog=Simulation-Based-Learning-26;        User ID=MillCMT_SQLLogin_1;        Password=m9wi9i54lu;        TrustServerCertificate=True;        Connect Timeout=30;        Pooling=true;        Max Pool Size=50;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>